<%= tag.div class: "fixed inset-y-0 left-0 z-10 hidden w-14 flex-col border-r bg-background sm:flex" do %>
  <nav class="flex flex-col items-center gap-4 px-2 sm:py-5">
    <% links.each do |link| %>
      <%=
        render Admin::SidebarLinkComponent.new(
          href: link[:href],
          icon: link[:icon],
          text: link[:text]
        ) 
      %>
    <% end %>
  </nav>
<% end %>
